<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} TODO INDEX {% endblock %}</title>
    <link href="{% static 'main/assets/CSS/bootstrap.min.css' %}" rel="stylesheet"/>
    <script src="{% static 'main/assets/JS/bootstrap.bundle.js' %}"></script>
</head>

<body>
    {% include './header.html' %}
    <a href="{% url 'todo:todo-index' %}">TODO INDEX</a>
    {% block main-content %}
    <h1>No default main-content</h1>
    {% endblock %}
    {% include './footer.html' %}
</body>

</html>