{% extends 'main/base_layout.html' %}
{% block main-content %}
<div class="container">
    <div class="row">
        <div class="text-center col-12">
            <div class="card">
                <img src="{{movie.banner.url}}" alt="image" style="max-width:15%; max-height:15%" />
                <img src="{{movie.video.url}}" alt="image" style="max-width:15%; max-height:15%" />
                <div class="card-title">
                    {{movie.name}}
                </div>
                <div>{{movie.description}}</div>
                <div>{{movie.likes}}</div>
                <div>{{movie.watch_count}}</div>
                <div>
                    <ul>
                        {% for cast in movie.casts.all %}
                            <li>{{cast.first_name}} - {{cast.id_name}}</li>
                            <img src="{{cast.profile_image.url}}" />
                        {% endfor %}
                    </ul>
                </div>
                <div>
                    <ul>
                        {% for review in movie.review_set.all %}
                            <li>{{review.comment}}</li>
                            {% if review.attachment %}
                            <img src="{{review.attachment.url}}" alt="review">
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}